<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css  " type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

    <div class="topnav">
        <a href="/" class="text-white  h1 active">Product</a>



    </div>
    <h2 style="text-align:center">Product Card</h2>


    <div class="row">
        <div class="card">
            <a href="https://www.amazon.com/Ones-Who-Walk-Away-Omelas-ebook/dp/B01N0PZ35J"><img src="image/omela.jpg"
                    alt="The Ones Who Walk Away from Omelas"></a>
            <h1 style=" font-size: 20px;">The Ones Who Walk Away from Omelas</h1>
            <p class="price">৳337.47</p>
            <p>The Ones Who Walk Away from Omelas" is a 1973 work of short philosophical fiction by American writer
                Ursula K. Le Guin. With deliberately both vague and vivid descriptions, the narrator depicts a summer
                festival in the utopian city of Omelas,
                whose prosperity depends on the perpetual misery of a single child.</p>
            <a href="https://www.amazon.com/Ones-Who-Walk-Away-Omelas-ebook/dp/B01N0PZ35J">Continue</a>
        </div>
        <div class="card"><a
                href="https://www.amazon.com/gp/product/B079DPT9MS?storeType=ebooks&pf_rd_p=491aa4f3-087b-4111-856e-31f31b524d59&pf_rd_r=ZRT5Y9X50XMQRN79JGM6&pd_rd_wg=tulwA&pd_rd_i=B079DPT9MS&ref_=dbs_f_def_rwt_wigo_rfyd_recs_wigo_2&pd_rd_w=zBU0a&pd_rd_r=a543eb6b-4cd3-4088-b8e3-1dd571d0052a"></a>
            <a
                href="https://www.amazon.com/gp/product/B079DPT9MS?storeType=ebooks&pf_rd_p=491aa4f3-087b-4111-856e-31f31b524d59&pf_rd_r=ZRT5Y9X50XMQRN79JGM6&pd_rd_wg=tulwA&pd_rd_i=B079DPT9MS&ref_=dbs_f_def_rwt_wigo_rfyd_recs_wigo_2&pd_rd_w=zBU0a&pd_rd_r=a543eb6b-4cd3-4088-b8e3-1dd571d0052a">
                <img src="image/murder.jpg" alt="Murder Theory"></a>
            <h1>Murder Theory</h1>
            <p class="price">৳168.31</p>
            <p>The desire to kill is becoming contagious in this riveting novel of conceivable mad science by the Wall
                Street Journal bestselling author of The Naturalist.
                Computational biologist and serial-killer hunter Dr. Theo Cray receives an off-the-record request from
                the FBI to investigate an inexplicable double homicide.</p>
            <a
                href="https://www.amazon.com/gp/product/B079DPT9MS?storeType=ebooks&pf_rd_p=491aa4f3-087b-4111-856e-31f31b524d59&pf_rd_r=ZRT5Y9X50XMQRN79JGM6&pd_rd_wg=tulwA&pd_rd_i=B079DPT9MS&ref_=dbs_f_def_rwt_wigo_rfyd_recs_wigo_2&pd_rd_w=zBU0a&pd_rd_r=a543eb6b-4cd3-4088-b8e3-1dd571d0052a">Continue</a>
        </div>
        <div class="card">
            <a
                href="https://www.amazon.com/gp/product/B071YYNY8Z?notRedirectToSDP=1&ref_=dbs_mng_calw_1&storeType=ebooks">
                <img src="image/lookingglass.jpg" alt="Looking Glass"></a>
            <h1>Looking Glass</h1>
            <p class="price">৳168.31</p>
            <p>The only clues are children's drawings and an inner-city urban
                legend about someone called the Toy Man. To unravel the mystery behind the Toy Man.... </p>
            <a
                href="https://www.amazon.com/gp/product/B071YYNY8Z?notRedirectToSDP=1&ref_=dbs_mng_calw_1&storeType=ebooks">Continue</a>
        </div>
    </div><br><br><br>


    <div class="row">
        <div class="card">
            <a
                href="https://www.amazon.com/dp/B07S4L16CT/ref=sspa_dk_detail_right_aax_0?psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFNS05GUUpDUElMUVkmZW5jcnlwdGVkSWQ9QTA3NzYzMzkyQlFZNTRFNlhSRzQxJmVuY3J5cHRlZEFkSWQ9QTAxOTEyMTczTkdFVE1YWk04SVZPJndpZGdldE5hbWU9c3BfZGV0YWlsX3JpZ2h0X3NoYXJlZCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                <img src="image/lostkey.jpg" alt="Lost Key"></a>
            <h1>Lost Key</h1>
            <p class="price">৳253.79</p>
            <p>It only takes a moment to lose everything. When a corrupt real-estate developer sets his sights on Kate
                Kingsbury's marina in the Florida Keys, Kate and her neighbors must band together to save Shark Key.
            </p>
            <a
                href="https://www.amazon.com/dp/B07S4L16CT/ref=sspa_dk_detail_right_aax_0?psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFNS05GUUpDUElMUVkmZW5jcnlwdGVkSWQ9QTA3NzYzMzkyQlFZNTRFNlhSRzQxJmVuY3J5cHRlZEFkSWQ9QTAxOTEyMTczTkdFVE1YWk04SVZPJndpZGdldE5hbWU9c3BfZGV0YWlsX3JpZ2h0X3NoYXJlZCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">Continue</a>
        </div>

        <div class="card">
            <a
                href="https://www.amazon.com/dp/B08HXZ4P35/ref=sspa_dk_detail_right_aax_0?psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyTTREMkMyWk1IMzNIJmVuY3J5cHRlZElkPUEwMDI1OTc5QjVDMU9OQjdVMTZKJmVuY3J5cHRlZEFkSWQ9QTA1MDU2MTAyM0o3SkcyWEdKVTNXJndpZGdldE5hbWU9c3BfZGV0YWlsX3JpZ2h0X3NoYXJlZCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                <img src="image/inthe ground.jpg" alt="In The Ground"></a>
            <h1>In The Ground</h1>
            <p class="price">৳423.06</p>
            <p>David Wolf faces a disturbing case unearthed in the far reaches of the county. When diggers at a high
                altitude surface mine exhume the corpse of one of their workers, the Sluice-Byron SD is called to the
                scene. </p>
            <a
                href="https://www.amazon.com/dp/B08HXZ4P35/ref=sspa_dk_detail_right_aax_0?psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyTTREMkMyWk1IMzNIJmVuY3J5cHRlZElkPUEwMDI1OTc5QjVDMU9OQjdVMTZKJmVuY3J5cHRlZEFkSWQ9QTA1MDU2MTAyM0o3SkcyWEdKVTNXJndpZGdldE5hbWU9c3BfZGV0YWlsX3JpZ2h0X3NoYXJlZCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">Continue</a>
        </div>

        <div class="card">
            <a
                href="https://www.amazon.com/dp/B08MBDBTHC/ref=sspa_dk_detail_right_aax_0?psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFHSUtOVENRVlkyODAmZW5jcnlwdGVkSWQ9QTAzNzk4MTMySk1OWkpTMDJFQVc5JmVuY3J5cHRlZEFkSWQ9QTA3NDM5MjI0TTZBSkI3SVFJRlQmd2lkZ2V0TmFtZT1zcF9kZXRhaWxfcmlnaHRfc2hhcmVkJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
                <img src="image/Jack Frost.jpg" alt="Jack Frost"></a>
            <h1>Jack Frost</h1>
            <p class="price">৳676.55 </p>
            <p>The next gripping Hunt for Jack Reacher Thriller!“Make some coffee. You’ll read all night.” Lee ChildThe last time Jack Reacher passed through South Dakota,
                 almost everyone close to him was savagely murdered.Some say Reacher killed them. Maybe he did.But one survived.A ruthless gangster. ... </p>
            <a
                href="https://www.amazon.com/dp/B08MBDBTHC/ref=sspa_dk_detail_right_aax_0?psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFHSUtOVENRVlkyODAmZW5jcnlwdGVkSWQ9QTAzNzk4MTMySk1OWkpTMDJFQVc5JmVuY3J5cHRlZEFkSWQ9QTA3NDM5MjI0TTZBSkI3SVFJRlQmd2lkZ2V0TmFtZT1zcF9kZXRhaWxfcmlnaHRfc2hhcmVkJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">Continue</a>
        </div>

    </div>
    <div class="row">
        <div class="card">
            <a
                href="https://www.amazon.com/gp/product/B000SEJ7RA?storeType=ebooks&pf_rd_p=491aa4f3-087b-4111-856e-31f31b524d59&pf_rd_r=ZRT5Y9X50XMQRN79JGM6&pd_rd_wg=tulwA&pd_rd_i=B000SEJ7RA&ref_=dbs_f_def_rwt_wigo_rfyd_recs_wigo_1&pd_rd_w=zBU0a&pd_rd_r=a543eb6b-4cd3-4088-b8e3-1dd571d0052a">
                <img src="image/soul.jpg" alt="Then Sings My Soul"></a>
            <h1>Then Sings My Soul</h1>
            <p class="price">৳253.79</p>
            <p>Then Songs My Soul, Book 2, Robert Morgan again delves beyond the songwriter's inspiration and explains the real-life events, the tribulations and triumphs,
                 and the fascinating details that led to these classic songs of praise. ..</p>
            <a
                href="https://www.amazon.com/gp/product/B000SEJ7RA?storeType=ebooks&pf_rd_p=491aa4f3-087b-4111-856e-31f31b524d59&pf_rd_r=ZRT5Y9X50XMQRN79JGM6&pd_rd_wg=tulwA&pd_rd_i=B000SEJ7RA&ref_=dbs_f_def_rwt_wigo_rfyd_recs_wigo_1&pd_rd_w=zBU0a&pd_rd_r=a543eb6b-4cd3-4088-b8e3-1dd571d0052a">Continue</a>
        </div>
        <div class="card">
            <a
                href="https://www.amazon.com/dp/B07PCMC9Z9/ref=sspa_dk_detail_right_aax_0?psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyUUpQS0YwUEs3SDRSJmVuY3J5cHRlZElkPUEwNDg3MjIwM1VCU0g4WlhYNzg3SSZlbmNyeXB0ZWRBZElkPUEwMjgxMzk1TFE1Tjc4R0dQWDVIJndpZGdldE5hbWU9c3BfZGV0YWlsX3JpZ2h0X3NoYXJlZCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                <img src="image/home.jpg" alt="Home Work: A Memoir of My Hollywood Years"></a>
            <h1>Home Work: A Memoir of My Hollywood Years</h1>
            <p class="price">৳1098.68</p>
            <p>In this New York Times bestselling follow-up to her critically acclaimed memoir, Home, Julie Andrews reflects on her astonishing career, including such classics as Mary Poppins, The Sound of Music, and ...</p>
            <a
                href="https://www.amazon.com/dp/B07PCMC9Z9/ref=sspa_dk_detail_right_aax_0?psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyUUpQS0YwUEs3SDRSJmVuY3J5cHRlZElkPUEwNDg3MjIwM1VCU0g4WlhYNzg3SSZlbmNyeXB0ZWRBZElkPUEwMjgxMzk1TFE1Tjc4R0dQWDVIJndpZGdldE5hbWU9c3BfZGV0YWlsX3JpZ2h0X3NoYXJlZCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">Continue</a>
        </div>
        <div class="card">
            <a
                href="https://www.amazon.com/gp/product/B01N7RWHZS?storeType=ebooks&pf_rd_p=166a5bf6-19bb-4a9c-a928-24da9d375df0&pf_rd_r=JVT78J96Z546DTKRQA9H&pd_rd_wg=7e0xN&pd_rd_i=B01N7RWHZS&ref_=dbs_f_def_rwt_wigo_cp_recs_wigo_0&pd_rd_w=6R5gk&pd_rd_r=3e5fbef7-77b7-4888-8009-cc1fa85bd47d">
                <img src="image/orbital.jpg" alt="Orbital"></a>
            <h1>Orbital</h1>
            <p class="price">৳253.79</p>
            <p>Orbital picks up right where Station Breaker ended. This book captures you right away and you will not want to put it down. David Dixon is back in space and, of course, in danger. It's up to David to discover 
                who is on his side and who is against him.</p>
            <a
                href="https://www.amazon.com/gp/product/B01N7RWHZS?storeType=ebooks&pf_rd_p=166a5bf6-19bb-4a9c-a928-24da9d375df0&pf_rd_r=JVT78J96Z546DTKRQA9H&pd_rd_wg=7e0xN&pd_rd_i=B01N7RWHZS&ref_=dbs_f_def_rwt_wigo_cp_recs_wigo_0&pd_rd_w=6R5gk&pd_rd_r=3e5fbef7-77b7-4888-8009-cc1fa85bd47d">Continue</a>
        </div>

    </div>
    <div>
        <div class="card">
            <a
                href="https://www.amazon.com/gp/product/B0847NLRGW?storeType=ebooks&pf_rd_p=166a5bf6-19bb-4a9c-a928-24da9d375df0&pf_rd_r=JVT78J96Z546DTKRQA9H&pd_rd_wg=7e0xN&pd_rd_i=B0847NLRGW&ref_=dbs_f_def_rwt_wigo_cp_recs_wigo_3&pd_rd_w=6R5gk&pd_rd_r=3e5fbef7-77b7-4888-8009-cc1fa85bd47d">
                <img src="image/coral.jpg" alt="Black Coral: A Thriller "></a>
            <h1>Black Coral: A Thriller </h1>
            <p class="price">৳506.63</p>
            <p>For a police diver in Florida, solving a cold-case mystery brings a serial killer out of hiding in a deep, dark thriller by the Wall Street Journal bestselling author of The Naturalist. Sloan McPherson and the Underwater Investigation Unit have discovered a van at the bottom of a murky Florida pond. ...</p>
            <a
                href="https://www.amazon.com/gp/product/B0847NLRGW?storeType=ebooks&pf_rd_p=166a5bf6-19bb-4a9c-a928-24da9d375df0&pf_rd_r=JVT78J96Z546DTKRQA9H&pd_rd_wg=7e0xN&pd_rd_i=B0847NLRGW&ref_=dbs_f_def_rwt_wigo_cp_recs_wigo_3&pd_rd_w=6R5gk&pd_rd_r=3e5fbef7-77b7-4888-8009-cc1fa85bd47d">Continue</a>
        </div>

    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/
              JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>


</html>